<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serien.android.androidserienprojekt" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".activities.InitializeParse"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.LoadingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.UserActivity"/>

        <activity
            android:name=".activities.ListActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".activities.Top10Activity"
            android:label="@string/title_activity_top30"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".activities.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".activities.FriendsSeries"
            android:label="@string/title_activity_friends_series"
            android:parentActivityName=".activities.FriendsActivity" >
        </activity>

        <activity
            android:name=".activities.SeriesOverviewActivity"
            android:label="@string/title_activity_series_overview"
            android:parentActivityName=".activities.ListActivity" >
        </activity>

        <activity android:name=".activities.SeriesDetailActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_user" >
        </activity>

    </application>

</manifest>
